---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=1&query=jdfkj3ioj4io3jr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 563492ad6f917000010000015655a8e3d1664f73bb73a5353bbbd3b5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19960'
      X-Ratelimit-Reset:
      - '1621827429'
      X-Server:
      - master
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":1,"photos":[],"total_results":0}'
  recorded_at: Tue, 27 Apr 2021 23:10:17 GMT
recorded_with: VCR 6.0.0
