---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=JEhEx6kKF90oVbT6xIjpeMD3WoNVXCrz&location=chicago,il
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Apr 2021 23:10:18 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"chicago,il"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=JEhEx6kKF90oVbT6xIjpeMD3WoNVXCrz&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=94179435"}]}]}'
  recorded_at: Tue, 27 Apr 2021 23:10:18 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=618a4595b512d53e1ec40ec117d516fc&exclude=minutely,alerts&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1619565019,"sunrise":1619520700,"sunset":1619570658,"temp":77.52,"feels_like":76.48,"pressure":1005,"humidity":32,"dew_point":45.37,"uvi":0.41,"clouds":75,"visibility":10000,"wind_speed":21.85,"wind_deg":220,"wind_gust":36.82,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619564400,"temp":77.52,"feels_like":76.48,"pressure":1005,"humidity":32,"dew_point":45.37,"uvi":0.41,"clouds":75,"visibility":10000,"wind_speed":4.14,"wind_deg":280,"wind_gust":18.03,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1619568000,"temp":74.91,"feels_like":73.98,"pressure":1005,"humidity":40,"dew_point":48.99,"uvi":0.1,"clouds":78,"visibility":10000,"wind_speed":3.02,"wind_deg":301,"wind_gust":14.65,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1619571600,"temp":71.28,"feels_like":70.41,"pressure":1006,"humidity":49,"dew_point":51.15,"uvi":0,"clouds":85,"visibility":10000,"wind_speed":2.8,"wind_deg":326,"wind_gust":11.9,"weather":[{"id":804,"ma[...]
