---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=JEhEx6kKF90oVbT6xIjpeMD3WoNVXCrz&location=fkdjflkjklj395
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Apr 2021 18:26:18 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"fkdjflkjklj395"},"locations":[{"street":"395
        Route 395","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Sainte-Gertrude-Manneville","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"QC","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"J0Y","geocodeQualityCode":"P1CCA","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"N","linkId":"CA/PAD/p0/6407779","unknownInput":"","type":"s","latLng":{"lat":48.51832,"lng":-78.30679},"displayLatLng":{"lat":48.51832,"lng":-78.30679},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=JEhEx6kKF90oVbT6xIjpeMD3WoNVXCrz&type=map&size=225,160&locations=48.51832,-78.30679|marker-sm-50318A-1&scalebar=true&zoom=15&rand=307899806"},{"street":"H
        395 Road 395","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Gurugram","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Haryana","adminArea3Type":"State","adminArea1":"IN","adminArea1Type":"Country","postalCode":"122017","geocodeQualityCode":[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=618a4595b512d53e1ec40ec117d516fc&exclude=minutely,alerts&lat=48.51832&lon=-78.30679&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":48.5183,"lon":-78.3068,"timezone":"America/Toronto","timezone_offset":-14400,"current":{"dt":1619547978,"sunrise":1619517595,"sunset":1619569287,"temp":51.08,"feels_like":47.16,"pressure":1014,"humidity":27,"dew_point":19.83,"uvi":5.1,"clouds":75,"visibility":10000,"wind_speed":5.75,"wind_deg":90,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619546400,"temp":51.08,"feels_like":47.16,"pressure":1014,"humidity":27,"dew_point":19.83,"uvi":5.1,"clouds":75,"visibility":10000,"wind_speed":2.1,"wind_deg":119,"wind_gust":2.46,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1619550000,"temp":51.64,"feels_like":47.86,"pressure":1014,"humidity":29,"dew_point":21.74,"uvi":4.42,"clouds":74,"visibility":10000,"wind_speed":1.54,"wind_deg":115,"wind_gust":1.77,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1619553600,"temp":52.12,"feels_like":48.45,"pressure":1014,"humidity":30,"dew_point":22.84,"uvi":3.19,"clouds":77,"visibility":10000,"wind_speed":1.21,"wind_deg":10,"wind_gust":1.48,"weather":[{"id":803,[...]
