---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=1&query=Atlanta,%20Ge
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 563492ad6f917000010000015655a8e3d1664f73bb73a5353bbbd3b5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19937'
      X-Ratelimit-Reset:
      - '1621827429'
      X-Server:
      - master
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":1,"photos":[{"id":2342585,"width":6720,"height":4480,"url":"https://www.pexels.com/photo/two-people-wearing-black-shirts-standing-near-wall-2342585/","photographer":"Katie
        Brittle","photographer_url":"https://www.pexels.com/@katie-brittle-1232260","photographer_id":1232260,"avg_color":"#5C656A","src":{"original":"https://images.pexels.com/photos/2342585/pexels-photo-2342585.jpeg","large2x":"https://images.pexels.com/photos/2342585/pexels-photo-2342585.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/2342585/pexels-photo-2342585.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/2342585/pexels-photo-2342585.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/2342585/pexels-photo-2342585.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/2342585/pexels-photo-2342585.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/2342585/pexels-photo-2342585.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/2342585/pexels-photo-2342585.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false}],"total_results":272,"next_page":"https://api.pexels.com/v1/search/?page=2\u0026per_page=1\u0026query=Atlanta%2C+Ge"}'
  recorded_at: Fri, 07 May 2021 01:47:54 GMT
recorded_with: VCR 6.0.0
