---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=1&query=Denver,%20Co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 563492ad6f917000010000015655a8e3d1664f73bb73a5353bbbd3b5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19959'
      X-Ratelimit-Reset:
      - '1621827429'
      X-Server:
      - master
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":1,"photos":[{"id":7429461,"width":5950,"height":3967,"url":"https://www.pexels.com/photo/people-in-a-meeting-7429461/","photographer":"Ron
        Lach","photographer_url":"https://www.pexels.com/@ron-lach","photographer_id":22992178,"avg_color":"#A2A49A","src":{"original":"https://images.pexels.com/photos/7429461/pexels-photo-7429461.jpeg","large2x":"https://images.pexels.com/photos/7429461/pexels-photo-7429461.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/7429461/pexels-photo-7429461.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/7429461/pexels-photo-7429461.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/7429461/pexels-photo-7429461.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/7429461/pexels-photo-7429461.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/7429461/pexels-photo-7429461.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/7429461/pexels-photo-7429461.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false}],"total_results":1879,"next_page":"https://api.pexels.com/v1/search/?page=2\u0026per_page=1\u0026query=Denver%2C+Co"}'
  recorded_at: Tue, 27 Apr 2021 23:10:29 GMT
recorded_with: VCR 6.0.0
