---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=618a4595b512d53e1ec40ec117d516fc&exclude=current&lat=38.265425&lon=-104.610415&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-21600,"minutely":[{"dt":1619541300,"precipitation":0},{"dt":1619541360,"precipitation":0},{"dt":1619541420,"precipitation":0},{"dt":1619541480,"precipitation":0},{"dt":1619541540,"precipitation":0},{"dt":1619541600,"precipitation":0},{"dt":1619541660,"precipitation":0},{"dt":1619541720,"precipitation":0},{"dt":1619541780,"precipitation":0},{"dt":1619541840,"precipitation":0},{"dt":1619541900,"precipitation":0},{"dt":1619541960,"precipitation":0},{"dt":1619542020,"precipitation":0},{"dt":1619542080,"precipitation":0},{"dt":1619542140,"precipitati[...]
